<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new Student</h1>
    
    <form action="/Student/register" method="post">
    <input type="text" name="name" placeholder="Enter name"><br>

    <input type="text" branch="branch" placeholder="Enter branch">
    <button type="submit">Submit</button>
    </form>
    <hr>
    <h3>current student</h3>

    <ul>
        <% allStudents.forEach(s => { %>
            <li><%= s.name %> <%= s.branch %></li>
        <% }) %>
    </ul>

    <script src="/index.js"></script>
</body>
</html>